*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --primary-color: #ec1419;
    --secondary-color: #d3463a;
    --background--primary-color: #0f0f0f;
    --background--secondary-color: #1c1b1b;
    --text-color: #f3f0ef;
    --text--secondary-color: #ffb4aa;
    --text--tertiary-color: #929090;
    --button--primary-color: #ec1419;
    --button--secondary-color: #1c1b1b;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background--primary-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 6rem;
    @media (min-width: 768px) {
        padding: 0 2rem;
        padding-bottom: 6rem;
    }
}
